/* h1{
    font-size: 60px;
} */
.header-container {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 6vw; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    
  }
  .container{
    font-size: 2vw ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing:  2.5px;
  }
  p{
    font-size: 1.4rem ;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }