h1{
    font-size: 40px;
}
.header-container {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
  }
  .container{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }